/* Selector de Elemento*/
p{
    background-color: aqua;
}

/*selector por identificador */

#parafo{
    background-color: brown;
}

/*selector por clase */

.clase{
    background-color: coral;
}

/*Selector de clase para un tipo de elemento específico*/

p.clase2{
    background-color: darkgreen;
}

/* agrupacióln de selectores*/

h2, h1{
    background-color: darkmagenta;
}

/*seleccion de descendientes */

p > span{
    background-color: darksalmon;
}
